{% extends 'shared/base.html' %}
{% load bootstrap_form_edit_delete %}

{% load label_with_classes %}


{% load static %}
{% block site_content %}


    <h1 class="text-center">Edit your meal information</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            {% bootstrap_form_edit_delete form=form method='post' action='' %}
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-8">
            <a class="btn btn-danger form-control pull-right" href="{% url 'meals delete' restaurantmeals.id %}"
               style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%">Delete</a>

        </div>
    </div>
    </div>



{% endblock %}