{% extends 'shared/base.html' %}
{% load static %}


{% block site_content %}
    <h1>MEALS LIST</h1>
    <div class='container' style='padding-top: 10px'>
        {% for meal in meals %}
            <div class="col-lg-4">

                <div class="card card-outline-primary mb-3 text-center" style="width: 100%;">

                    <img src="{{ meal.picture.url }}" class="card-img-top"
                         style="width:100%" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">NAME: {{ meal.meal_name }} </h5>
                        <p class="card-text">PRICE: {{ meal.price }}</p>
                        <p class="card-text">TYPE: {{ meal.type }}</p>


                    </div>

                </div>
            </div>

        {% endfor %}
    </div>

    <nav aria-label="Page navigation">

        <ul class="pagination pg-blue"  style = "position: absolute;
  width: 50%;
  bottom: 30px;
  ">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                </li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a></li>
                <li  class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                </ul>
            {% endif %}
    </nav>


{% endblock %}