{% extends 'shared/base.html' %}
{% load static %}
{% block site_content %}




    <div class='container'>
        {% for i in "123"|make_list %}
            <div class="col-sm-4 ">

                <div class="card" style="width: 18rem;">
                    <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%"
                         alt="Image" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color: rgb(255 255 255 / 30%)">
                        <h5 class="card-title">{{ 'title' }} {{ "text" }}</h5>
                        <p class="card-text"> TESXT</p>
                        <a href="" class="btn btn-primary">Try</a>

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                 style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                 style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                 style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
        </div>
    </div><br>

{% endblock %}
